animec 
async-timeout 
beautifulsoup4 
ffmpeg 
lxml 
NHentai-API 
Pillow 
PyNaCl 
regex 
wikipedia 
wolframalpha 
youtube-dl 
nekos.py 
pyowm 
rule34 
python-dotenv 
pysaucenao 
Pybooru 
Babel 
googletrans==4.0.0rc1 
psutil 
pympler 
flask 
dateparser 
git+https://github.com/Rapptz/discord.py 
dadjokes 
epicbot_images 
humanfriendly 
humanize
matplotlib